body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f9ff;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
  }
  
  img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin: 10px;
  }
  
  .collection-item {
    display: inline-block;
    margin: 5px;
  }
  